html {
  height: 100%;
  width: 100%;
}

body {
  background: repeating-linear-gradient(45deg,
      white,
      white 50px,
      rgb(235, 235, 235) 50px,
      rgb(235, 235, 235) 60px);
}

#container-form {
  background-color: rgb(230, 230, 230);
  width: 400px;
  height: 600px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid Black;
  border-radius: 5px;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#form-info {
  margin-top: 5px;
  text-align: left;
  margin-left: 15px;

  font-size: 15px;
}


input {
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}

#csenha,#psenha,#ncelular,#Email,#pnome {
  height: 30px;
  width: 350px;
}